[[source]]
name = "pypi"
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
scrapy = "*"
jsonschema = "*"
pymongo = "*"
selenium = "*"
pycrypto = "*"
requests = "*"
faker = "*"
tornado = "*"
maya = "*"
sqlalchemy = "*"

[requires]
python_version = "3.6"
